body
{
  font-family: PT Sans Narrow, sans-serif;
  color: black;
  background-color: black;
}

a
{
  font-weight: bold;
  color: white;
  text-decoration: none;
}
  
.bio-photo
{
  clip-path: circle(300px at center);
}
