body
{
  font-family: Segoe UI, sans-serif;
  color: green;
  background-color: white;
}

a
{
  font-weight: bold;
  color: black;
  text-decoration: none;
}
  
.bio-photo
{
  cli-path: circle(100px at center);
}
