<!-- The code used here was based on Lei Mao's website (https://leimao.github.io) implementation, provided as example by himself. -->
<!-- Thanks a lot, Lei Mao. -->

<!DOCTYPE html>

<html>
  
  <head>
    {% include _header.html %}
  </head>
  
  <body>
    {% include _navigation.html %}
    <div class="article-author-side">
      {% include _author.html %}
    </div>
    
    <div>
      <h1>Henrique Werneck's Home</h1>
      <p>• • •</p>
      <p> Be welcome to my site, folks!</p>
    </div>
    
    {% include _footer.html %}
    
  </body>
    
</html>
