<!-- The code used here was based on Lei Mao's website (https://leimao.github.io) implementation, provided as example by himself. -->
<!-- Thanks a lot, Lei Mao. -->

<!DOCTYPE html>

<html>
  
  <head>
    {% include _head.html %}
  </head>
  
  <body>
    <header>
      {% include _navigation.html %}     
    </header>
    
    <div class="main">
      <div class="article-author-side">
        {% include _author.html %}
      </div>
      
      <div class="main-content">
            
        <!-- <article> -->
          <!-- Book Title -->
          <h3>{{ post.book-title }}</h3>
          <!-- Book Front Cover -->
          <!-- Book Original Title -->
          <h5>Original: {{ post.book-original-title }}</h5>
          <!-- Book Author -->
          <h5>Author: {{ post.book-original-title }}</h5>
          <!-- Book Title in the current language -->
          <h5>{{ page.language }}: {{ post.book-current-language-title }}</h5>
          <!-- Content -->
          {{ content }}
        <!-- </article> -->

      </div><!-- /.main-content -->

    </div><!-- /.main -->
    
      <!-- {% include _related-content.html %} <!-- Related content, or "you might also like"... Something that keeps the person in the site, reading new articles -->
      <!-- {% include _subscribe.html %} <!-- Subscribe should be a list of emails to whom I send new posted content and offers by partners, like Amazon and Eletrogate in the future -->
    
    <footer>
      {% include _footer.html %}
    </footer>
    <!-- {% include _scripts.html %} -->
    
  </body>
    
</html>
