<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Template • Henrique Werneck</title>
    <meta name="description" content="Henrique Werneck's template site/page.">
    <meta name="keywords" content="Henrique Werneck">
    <link rel="stylesheet" type="text/css" href="template.css">
    <script src="template.js"></script>
</head>
<body>
    <div class="main">
        <center>
            <div class="site-content">
                <h1>Template</h1>
            </div><!-- /site-content -->
        </center>
    </div><!-- /main -->
    <script src="template.js"></script>
</body>
</html>